.breeding-total-frame {
	background-image: url(/images/breed.jpg);
	background-size: cover;
	background-position: left;
}

.breeding-panel {
	width: 350px;
	height: 600px;
	float: right;
	background-color: #fff;
	box-sizing: border-box;
	border: 1px solid gray;
	overflow-y: scroll;
	font-size: 0.8em;
}

.breeding-panel .details-frame {
	margin-left: 20px;
	font-size: 1em;
}

.breeding-panel .breed-them {
	clear: both;
	float: right;
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.breeding-panel .cancel {
	clear: right;
	float: right;
	margin-top: -40px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.breeding-panel hr {
	clear: both;
}

.breeding-panel img {
	height: 150px;
	float: right;
	margin-right: 20px;
}

.breeding-panel .spacer {
	padding : 10px;
}

.overview-panel {
	height: 600px;
	overflow-y: scroll;
}

.monster-frame {
	width: 130px;
	height: 270px;
	box-sizing: border-box;
	float: left;
	font-size: 12px;
	padding: 5px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.monster-frame .spacer {
	padding: 5px;
}

.monster-frame.disabled {
	background-color: #ccc;
}

.monster-overview {
	list-style: none;
	margin: 0;
	padding: 0;
}

.b {
	font-weight: bold;
}

.tab {
	padding-left: 10px;
}

.show {
	display: auto;
}

.hide {
	display: none;
}
