.buy-total-frame {
	background-image: url(/images/buy.jpg);
	background-size: cover;
	background-position: left;
	width: 1000px;
	height: 600px;
	overflow-y: scroll;
}

.panel {
	width: 350px;
	height: 600px;
	float: right;
	background-color: #fff;
	box-sizing: border-box;
	border: 1px solid gray;
	overflow-y: scroll;
}

.panel .details-frame {
	margin-left: 20px;
	font-size: 1.2em;
}

.panel .price {
	clear: left;
	float: left;
	padding: 5px 15px;
	margin-top: 50px;
	margin-left: 20px;
	font-size: 1em;
	border-radius: 3px;
}

.panel .buy-this {
	clear: both;
	float: left;
	margin-top: 50px;
	margin-left: 20px;
}

.panel img {
	height: 250px;
	float: right;
	margin-right: 20px;
}

.panel .spacer {
	padding : 10px;
}

.show {
	display: auto;
}

.hide {
	display: none;
}
